:root {
    --backgroundColor: #202124;
    --textColor: #2c586a;
    --clockColor: #35363A;
    --birthdayInputColor: #d3d4d5;
    --weekBoxColor: #6e798b;
    --weekBoxFilled: #f8f8f8;
    --opacity: 50%;
}

body {
    margin: 0px;
    background-color: var(--backgroundColor);
}

h1 {
    font-family: "Courier New", Courier, monospace;
    font-size:6vmin;
    word-spacing: 6px;
    color: var(--textColor);
    font-weight: 400;
    text-justify: center;
    text-align: center;
    display: flex;
}

h3 {
    font-family: "Courier New", Courier, monospace;
    text-align: left;
    text-align: center;
    display: flex;
    font-size:2vmin;
}

#clockBody {
    background-color: var(--clockColor);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendarBody {
    display: grid;
    transform: scale(0.1);
    grid-template-columns: repeat(83, 15vmin);
    grid-template-rows: repeat(52, 15vmin);
    grid-auto-flow: column;
    padding: 5vh;
    height: 80vh;
    justify-content: center;
    align-content: center;
}

#birthdayBody {
    opacity: 0%;
    display: grid;
    grid-gap: 5vh;
    height: 80vh;
    justify-content: center;
    align-content: center;
}

#birthdayInput {
    display: grid;
    border: 0px;
    border-radius: 1vh;
    width: 40vw;
    height: 10vh;
    background-color: var(--birthdayInputColor);
    justify-content: center;
    align-content: center;
    font-size: 3vmin;
}

#birthdaySubmit {
    display: grid;
    border: 0px;
    border-radius: 1vh;
    width: 40vw;
    height: 10vh;
    background-color: var(--birthdayInputColor);
    justify-content: center;
    align-content: center;
    font-size: 4vmin;
    font-family: "Courier New", Courier, monospace;
}

.checkbox {
    margin: 10px;
}

.checkboxContainer {
    display: flex;
    border: 0px;
    border-radius: 1vh;
    width: 40vw;
    height: 10vh;
    background-color: var(--birthdayInputColor);
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.weekBox {
    background-color: var(--weekBoxColor);
    width: 10vmin;
    height: 10vmin;
    opacity: var(--opacity);
    border-radius: 10vmin;
    align-self: center;
    justify-self: center;
}

.weekBoxFilled {
    background-color: var(--weekBoxFilled);
    width: 10vmin;
    height: 10vmin;
    opacity: var(--opacity);
    border-radius: 10vmin;
    align-self: center;
    justify-self: center;
}

.weekBoxSpacer {
    width: 10vmin;
    height: 10vmin;
}

@media screen and (orientation: portrait) {
    #calendarBody {
        grid-template-columns: repeat(52, 8.5vmax);
        grid-template-rows: repeat(83, 8.5vmax);
        grid-auto-flow: row;
    }
    .weekBox {
        width: 5vmax;
        height: 5vmax;
    }
    
    .weekBoxFilled {
        width: 5vmax;
        height: 5vmax;
    }
    
    .weekBoxSpacer {
        width: 5vmax;
        height: 5vmax;
    }
}
