body {
    margin: 0px;
    background-color: #202124;
}

h1 {
    font-family: "Courier New", Courier, monospace;
    font-size:6vmin;
    word-spacing: 6px;
    color: #2c586a;
    font-weight: 400;
    text-justify: center;
    text-align: center;
    display: flex;
}
#clockBody {
    background-color: #35363A;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendarBody {
    display: grid;
    grid-template-columns: repeat(83, 1.5vmin);
    grid-template-rows: repeat(52, 1.5vmin);
    grid-auto-flow: column;
    padding: 5vh;
    height: 80vh;
    justify-content: center;
    align-content: center;
}

#birthdayBody {
    opacity: 0%;
    display: grid;
    grid-gap: 5vh;
    height: 80vh;
    justify-content: center;
    align-content: center;
}

#birthdayInput {
    display: grid;
    border: 0px;
    border-radius: 1vh;
    width: 40vw;
    height: 10vh;
    background-color:#d3d4d5;
    justify-content: center;
    align-content: center;
    font-size: 3vmin;
}

#birthdaySubmit {
    display: grid;
    border: 0px;
    border-radius: 1vh;
    width: 40vw;
    height: 10vh;
    background-color:#d3d4d5;
    justify-content: center;
    align-content: center;
    font-size: 4vmin;
    font-family: "Courier New", Courier, monospace;
}

.weekBox {
    background-color: #6e798b;
    width: 1vmin;
    height: 1vmin;
    opacity: 50%;
    border-radius: 1vmin;
    align-self: center;
    justify-self: center;
}

.weekBoxFilled {
    background-color: #f8f8f8;
    width: 1vmin;
    height: 1vmin;
    opacity: 50%;
    border-radius: 1vmin;
    align-self: center;
    justify-self: center;
}

.weekBoxSpacer {
    width: 1vmin;
    height: 1vmin;
}

@media screen and (orientation: portrait) {
    #calendarBody {
        grid-template-columns: repeat(52, 0.85vmax);
        grid-template-rows: repeat(83, 0.85vmax);
        grid-auto-flow: row;
    }
    .weekBox {
        width: 0.5vmax;
        height: 0.5vmax;
    }
    
    .weekBoxFilled {
        width: 0.5vmax;
        height: 0.5vmax;
    }
    
    .weekBoxSpacer {
        width: 0.5vmax;
        height: 0.5vmax;
    }
}
